doctype html
title Tipologia
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
.w3-container
  h2= `Tipologia ${tipologia.id}` 
  table.w3-table.w3-striped.w3-border
    tr
      th ID
      th Estado
      th Sigla
      th Designacao
    tr
      td= tipologia.id
      td= tipologia.estado
      td= tipologia.sigla
      td= tipologia.designacao


  h2 Entidades
  table.w3-table.w3-striped.w3-border
    tr
      th ID
      th Sigla
      th Designacao
    each val in entidades
        tr
          a(href=`http://clav-test.di.uminho.pt/v2/entidades/${val.id}?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjExMTExMjIyMyIsImxldmVsIjoyLCJlbnRpZGFkZSI6ImVudF9BM0VTIiwiZW1haWwiOiJwcmkyMDIwQHRlc3RlLnVtaW5oby5wdCIsImlhdCI6MTYxMDk4MzYyOSwiZXhwIjoxNjExMDEyNDI5fQ.cb6ECaxgdfoCXohjdCph6gxvZTFqN4_SCzP6H4OQV6MvoVvUywhel6PPsZFKra-r9ycV2C8MI6JHWtxPjs_wIPydbbbznZb2Tx-oP37Pg4pVwhn0ds74wexRCF08FjBgeVdjoc_aYPMvFM3F9K0zn9AdM4mHu0O1tJUnQ9UIHZfX_GtxN1NZFmrjRZnd4ZOahbcKw1ODyh4u2ofs4H8eNc3IGwZUtWJaou7LZTrSNU27RnKv6D8f3lIYZJX7DT8XV2XRJwk561zxy_2qOZ7yz5uA1qO4_f54a4gyd2tYcMJMg7w-iCDJGb9lDi0gQgtVPQRB7Oq_INLuCpBxIKxLeA`)
            td= val.id
          td= val.sigla
          td= val.designacao


  h2 Processos 
  h3 Dono
  table.w3-table.w3-striped.w3-border
    tr
      th ID
      th Titulo
      th Codigo
    each val in processos.dono
        tr
          td= val.id
          td= val.titulo
          td= val.codigo

  h3 Participante
  table.w3-table.w3-striped.w3-border
    tr
      th ID
      th Titulo
      th Codigo
    each val in processos.participante
        tr
          td= val.id
          td= val.titulo
          td= val.codigo

  a(href='/')
    button.w3-button.w3-xlarge Home
    //- a(href='/',style='text-decoration: none;') 
  a(href='/')
    button.w3-button.w3-xlarge Go Back 
  //- href=`${}`
